/* 10rem 默认手机宽度
1rem = 1/10 宽度 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    font-family: sans-serif;
}

.html_content, .item-section {
    height: 100%;
}

.item-section {
    background-color: red;
    position: relative;
    font-size: 12px;
}
a {
    text-decoration: none;
}

.item-section_header img {
    width: 10rem;
}
ul, li {
    list-style: none;
}
.item-section ul {
    padding: 0.133333rem;
}
.flag {
    display: table;
    width: 100%;
    margin-bottom: 1px;
    background: #ffffff;
}
.flag .flag-item {
    display: table-cell;
    padding: 0.16rem 0;
    vertical-align: top;
    background: #ffffff;
}
.flag .flag-item.figure {
    width: 2.4rem;
    height: 2.4rem;
}

.flag .flag-item img {
    width: 2.4rem;
    height: 2.4rem;
    vertical-align: top;
}
img {
    border: 0;
}
.flag .flag-price {
    padding: .15rem 0 .2rem;
}
html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.flag .flag-title a {
    color: #333;
    line-height: 1.25;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
html {
    color: #000;
}
.flag .flag-price span {
    display: inline-block;
    background-color: #ee0a3b;
    vertical-align: middle;
    border-radius: .026667rem;
    padding: .026667rem .08rem .013333rem;
    color: #fff;
    font-weight: 700;
    margin-right: .066667rem;
    font-size: 11px;
}
.flag .flag-price strong {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: #ee0a3b;
    font-size: 16px;
    margin-right: .16rem;
}
.flag .flag-price small {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: #ee0a3b;
    font-size: 12px;
}
.flag .flag-type {
    color: #ff3600;
}
.flag .flag-btn {
    position: absolute;
    width: 2.133333rem;
    height: .64rem;
    line-height: .64rem;
    background-color: #ee0a3b;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    bottom: .133333rem;
    right: .2rem;
    border-radius: .026667rem;
}
.flag .flag-item.figcaption {
    width: 133.333333rem;
    padding-left: .2rem;
    padding-right: .2rem;
    position: relative;
}

/* html {
    font-size: 37.5px;
}

html, body {
    height: 100%;

}

body {
    font-size: 0;
}
.row {
    height: 100%;
}
.col-1 {
    display: inline-block;
    width: 1rem;
    height: 100%;
    background: #000;
}
.co1-1:nth-child(odd) {
    background: pink;
} */